@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/LayoutWithoutSidebar.cshtml";
}

<p class="h4 text-primary">About Us</p>
<p class="bookprice">
    Bookhive Corp. is a leading publishing house in the US. 
The company headquarter is located in Atlanta. It has been publishing books, articles, journals, novels, magazines, and encyclopedias for the past fifteen years. </p>
<p class="bookprice">The customers of the company include students, IT professionals, and research scholars. 
The company enjoys a dominant position in the publishing business with 15 retail stores in all major cities in the USA. 
At present, Bookhive sells books only through its retail stores, which limits the company's consumer base. 
Each store has a Store Manager, who is responsible for managing the operations of a store.
Presently, the company depends on the print and electronic media to advertise its books. </p>
<p class="bookprice">There is a static website that is periodically updated whenever a new book is released. 
Many competitors of the company already have their e-commerce stores and are selling books online. 
Bookhive is losing its customers to competitors because people prefer buying books online, without having to visit a retail store. 
Customers often complain that due to an inadequate number of stores in their city, they have to travel a long distance to reach a store. 
In addition, customers visiting a store complain that, at times, the books that they are looking for are not available in the stores.
Hence, many orders remain unplaced and customers are dissatisfied. As a result, there has been a loss in the company's revenue.

</p>
