@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/LayoutWithoutSidebar.cshtml";
}

<h1 class="bookprice">Contact Us</h1>

<h2 class="bookprice">BookHive Corp.</h2>
<p class="bookprice">Perimeter Station,</br> 120 Perimeter Center West #300,</br> Atlanta,</br> GA 30346,</br> United States
</br>
Contact Number : +1 770-396-1200
    </p>